@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SRAD</h1>
    <p class="lead">Student Recruitment & Admission System</p>
    <p><a target="_blank" href="https://admission.utm.my/contact-us/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

